<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Cloud Native Frontend application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="sect1">
            <h2 id="_http_booster" th:text="'Frontend at ' + ${hostname}"></h2>
            <div class="sectionbody">
                <div class="paragraph">
                    <p>An front end that will call a backend service</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>All notes</h2>
        <div id="toolbar">
            <div class="form-inline" role="form">
                <button id="add" type="submit" class="btn btn-success" style="display: none">Add</button>
            </div>
        </div>
        <table id="notesTable"
               class="table table-striped"
               data-toolbar="#toolbar"
               data-show-refresh="true"
               data-pagination="false"
               data-query-params=""
               data-url="/note">
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
<script src="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>

<script>
    var $table = $('#notesTable');
    var $add = $('#add');

    function operateFormatter() {
        return [
            '<a class="save" href="javascript:void(0)" title="Save note">',
            '<i class="glyphicon glyphicon-saved"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Delete note">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }
    window.operateEvents = {
        'click .save': function (e, value, row) {
            if(row.id) {
                //update an existing Note
                $.ajax({
                    url: "/note/" + row.id,
                    method: 'post',
                    data: JSON.stringify({"title" : row.title, "content": row.content}),
                    contentType: 'application/json'
                }).done(function() {
                    $table.bootstrapTable('refresh');
                });
            } else {
                //add new Note
                $.ajax({
                    url: "/note",
                    method: 'put',
                    data: JSON.stringify({"title" : row.title, "content": row.content}),
                    contentType: 'application/json'
                }).done(function() {
                    $table.bootstrapTable('refresh');
                });
            }

        },
        'click .remove': function (e, value, row) {
            $.ajax({
                url: "/note/" + row.id,
                method: 'delete'
                
            }).done(function() {
                $table.bootstrapTable('refresh');
            });
        }
    };

    $(document).ready(function () {



        $table.bootstrapTable({
            onLoadSuccess: function() {
                $add.show();
            },

            columns: [
                {
                    field: 'id',
                    title: 'ID',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'title',
                    title: 'title',
                    align: 'center',
                    valign: 'middle',
                    editable: true
                },
                {
                    field: 'content',
                    title: 'Content',
                    align: 'center',
                    valign: 'middle',
                    editable: true
                }, {
                    field: 'operate',
                    title: 'Operations',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                }
            ]
        });

        $('#add').click(function (e) {
            $table.bootstrapTable('insertRow', {index: $table.bootstrapTable('getData').length, row: {title: "title", content: "content"}});

            //only allow one new item at a time
            $add.hide();

            e.preventDefault();
        });
    });
</script>

</body>

</html>
